
.marquee {
  height: 100px;
  width: auto;
  overflow: hidden;
  position: relative;
  margin:10px 0px 0px 0px;
  font-size:50px;
  color:white;
  background-color:black;
  
}

.marquee div {
  display: block;
  width: 200%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
