@model maqadmin.Models.BingoFullViewModels
<h2>JUEGO DE BINGO</h2>


 <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:20px;text-align:center;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:middle}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px 8px 8px 8px; 
   
    border: 2px solid #666;
    color: #666;
    text-align: center;
    vertical-align:middle;

    font: 32px Arial, sans-serif;
}

.numberCirclePF {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width : 70px;
    height: 70px;
    padding: 8px 8px 8px 8px;    
   
    border: 2px solid #666;
    color: #fbfbfb;
    text-align: center;
    vertical-align:middle;

    font: 32px Arial, sans-serif;
}


.numberCircleB {
    background: #D7EF98;
}

.numberCircleI {
    background: #EFA697;
}

.numberCircleN {
    background: #FCE861;
}

.numberCircleG {
    background: #60CDEC;
}

.numberCircleO {
    background: #F18EE9;
}

.numberCircleP {
    background: #0d010c;
}


</style>

<table class="tg" style="undefined;table-layout: fixed; width: 1200px">
<thead>
<td>Hora actual:@ViewData["hora"]</td>
<td class="tg-yw4l" style="width:120px; font-size:50px;">@Model.bingoJuego.ultimonumero</td>
<td>LOCAL: @ViewData["idlocal"]</td>
<td>ESTADO: @ViewData["estadojuego"]</td>
</thead>

</table>


<table class="tg" style="undefined;table-layout: fixed; width: 1200px">
  <tr>
    <td class="tg-yw4l" style="width:75px;">
      
    <div class="numberCircle numberCircleB ">B</div> 
    </td>
    <td class="tg-yw4l">
     @if (Model.bingoJuego.B1)
     {
          <div class="numberCircle numberCircleB ">1</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B2)
     {
          <div class="numberCircle numberCircleB ">2</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B3)
     {
          <div class="numberCircle numberCircleB ">3</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B4)
     {
          <div class="numberCircle numberCircleB ">4</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B5)
     {
          <div class="numberCircle numberCircleB ">5</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B6)
     {
          <div class="numberCircle numberCircleB ">6</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B7)
     {
          <div class="numberCircle numberCircleB ">7</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B8)
     {
          <div class="numberCircle numberCircleB ">8</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B9)
     {
          <div class="numberCircle numberCircleB ">9</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B10)
     {
          <div class="numberCircle numberCircleB ">10</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B11)
     {
          <div class="numberCircle numberCircleB ">11</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B12)
     {
          <div class="numberCircle numberCircleB ">12</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B13)
     {
          <div class="numberCircle numberCircleB ">13</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B14)
     {
          <div class="numberCircle numberCircleB ">14</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.B15)
     {
          <div class="numberCircle numberCircleB ">15</div>   
     }  
     </td>
   
  </tr>
  <tr>
    <td class="tg-yw4l" style="width:75px;"><div class="numberCircle numberCircleI ">I</div> </td>
    <td class="tg-yw4l">
     @if (Model.bingoJuego.I16)
     {
          <div class="numberCircle numberCircleI ">16</div>   
     }  
     </td>
   <td class="tg-yw4l">
     @if (Model.bingoJuego.I17)
     {
          <div class="numberCircle numberCircleI ">17</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I18)
     {
          <div class="numberCircle numberCircleI ">18</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I19)
     {
          <div class="numberCircle numberCircleI ">19</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I20)
     {
          <div class="numberCircle numberCircleI ">20</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I21)
     {
          <div class="numberCircle numberCircleI ">21</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I22)
     {
          <div class="numberCircle numberCircleI ">22</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I23)
     {
          <div class="numberCircle numberCircleI ">23</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I24)
     {
          <div class="numberCircle numberCircleI ">24</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I25)
     {
          <div class="numberCircle numberCircleI ">25</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I26)
     {
          <div class="numberCircle numberCircleI ">26</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I27)
     {
          <div class="numberCircle numberCircleI ">27</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I28)
     {
          <div class="numberCircle numberCircleI ">28</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I29)
     {
          <div class="numberCircle numberCircleI ">29</div>   
     }  
     </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.I30)
     {
          <div class="numberCircle numberCircleI ">30</div>   
     }  
     </td>
  </tr>
  <tr>
    <td class="tg-yw4l" style="width:75px;"><div class="numberCircle numberCircleN ">N</div> </td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.N31)
     {
          <div class="numberCircle numberCircleN ">31</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N32)
     {
          <div class="numberCircle numberCircleN ">32</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N33)
     {
          <div class="numberCircle numberCircleN ">33</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N34)
     {
          <div class="numberCircle numberCircleN ">34</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N35)
     {
          <div class="numberCircle numberCircleN ">35</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N36)
     {
          <div class="numberCircle numberCircleN ">36</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N37)
     {
          <div class="numberCircle numberCircleN ">37</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N38)
     {
          <div class="numberCircle numberCircleN ">38</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N39)
     {
          <div class="numberCircle numberCircleN ">39</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N40)
     {
          <div class="numberCircle numberCircleN ">40</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N41)
     {
          <div class="numberCircle numberCircleN ">41</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N42)
     {
          <div class="numberCircle numberCircleN ">42</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N43)
     {
          <div class="numberCircle numberCircleN ">43</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N44)
     {
          <div class="numberCircle numberCircleN ">44</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.N45)
     {
          <div class="numberCircle numberCircleN ">45</div>   
     }  
     </td>
    
  </tr>
  <tr>
   <td class="tg-yw4l" style="width:75px;"><div class="numberCircle numberCircleG ">G</div></td>
    <td class="tg-yw4l">
     @if (Model.bingoJuego.G46)
     {
          <div class="numberCircle numberCircleG ">46</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G47)
     {
          <div class="numberCircle numberCircleG ">47</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G48)
     {
          <div class="numberCircle numberCircleG ">48</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G49)
     {
          <div class="numberCircle numberCircleG ">49</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G50)
     {
          <div class="numberCircle numberCircleG ">50</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G51)
     {
          <div class="numberCircle numberCircleG ">51</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G52)
     {
          <div class="numberCircle numberCircleG ">52</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G53)
     {
          <div class="numberCircle numberCircleG ">53</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G54)
     {
          <div class="numberCircle numberCircleG ">54</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G55)
     {
          <div class="numberCircle numberCircleG ">55</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G56)
     {
          <div class="numberCircle numberCircleG ">56</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G57)
     {
          <div class="numberCircle numberCircleG ">57</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G58)
     {
          <div class="numberCircle numberCircleG ">58</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G59)
     {
          <div class="numberCircle numberCircleG ">59</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.G60)
     {
          <div class="numberCircle numberCircleG ">60</div>   
     }  
     </td>
  </tr>
  <tr>
   <td class="tg-yw4l" style="width:75px;"><div class="numberCircle numberCircleO ">O</div></td>
     <td class="tg-yw4l">
     @if (Model.bingoJuego.O61)
     {
          <div class="numberCircle numberCircleO ">61</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O62)
     {
          <div class="numberCircle numberCircleO ">62</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O63)
     {
          <div class="numberCircle numberCircleO ">63</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O64)
     {
          <div class="numberCircle numberCircleO ">64</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O65)
     {
          <div class="numberCircle numberCircleO ">65</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O66)
     {
          <div class="numberCircle numberCircleO ">66</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O67)
     {
          <div class="numberCircle numberCircleO ">67</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O68)
     {
          <div class="numberCircle numberCircleO ">68</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O69)
     {
          <div class="numberCircle numberCircleO ">69</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O70)
     {
          <div class="numberCircle numberCircleO ">70</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O71)
     {
          <div class="numberCircle numberCircleO ">71</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O72)
     {
          <div class="numberCircle numberCircleO ">72</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O73)
     {
          <div class="numberCircle numberCircleO ">73</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O74)
     {
          <div class="numberCircle numberCircleO ">74</div>   
     }  
     </td>
      <td class="tg-yw4l">
     @if (Model.bingoJuego.O75)
     {
          <div class="numberCircle numberCircleO ">75</div>   
        }  
     </td>
  </tr>
</table>


