<!DOCTYPE html>
<html>
<head>
    <title>VIDEO</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/marq.css")">
</head>
<body>
    <div class="wrapper">
        <h1>
            Lista de videos</h1>
        @*<iframe width="560" height="315" src="@ViewData["urlVideo"].ToString()" frameborder="0" allowfullscreen></iframe>*@
        <iframe width='600' height='300' src="@ViewData["urlVideo"]" frameborder="0" allowfullscreen></iframe>
        
        <h1>
            Mensaje</h1>
        <div class="marquee">
        <p>@ViewData["MensajeVideo"]</p></div>
    </div>
</body>
</html>
