<div class="wrapper">
    <iframe width='100%' height='600px' src="@ViewData["urlVideo"]" frameborder="0" allowfullscreen>
    </iframe>
    <div class="marquee">
        <p>@ViewData["MensajeVideo"]</p>
    </div>
</div>
