 
<h2>VIDEO</h2>
URL:@ViewData["urlVideo"]
VIDEO ACTIVO:@ViewData["videoActivo"]
HORA: @ViewData["hora"] 

<iframe width="560" height="315" src="@ViewData["urlVideo"]" frameborder="0" allowfullscreen></iframe>