<!DOCTYPE html>
<html>
<head>

<style type="text/css">

</style>
</head>
<body background="@Url.Content("~/Content/imagenes/bannerimage.jpg")"  />

 


   @*<div style="display: table; height: 400px; overflow: hidden;">
         <div style="display: table-cell; vertical-align: middle;">*@
           <div id ="divcontenido" align="center">
            <img src= "@Url.Content("~/Content/imagenes/ajax-loader.gif")" alt="Image" />
           </div>
         @*</div>
       </div>*@



@*<div id ="divcontenido" align="center" class="area">

cargando
<img src= "@Url.Content("~/Content/imagenes/ajax-loader.gif")" alt="Image" />
</div>*@
    <script src="/Scripts/jquery-1.6.4.min.js" ></script>
    <script src="/Scripts/jquery.signalR-1.1.4.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub. 
            var chat = $.connection.signal;

            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (vistahtml) {
                $('#divcontenido').html(vistahtml);
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send('');

                });
            });
        });
    </script>
	@RenderBody()
</body>
</html>